# Android Studio / IntelliJ
.gradle/
/local.properties
/.idea/
/.kotlin/
/build/
app/build/
/captures
.externalNativeBuild
.cxx
*.iml
*.ipr
*.iws

# Firebase
app/google-services.json
.firebase/
firebase-debug.log*

# Local secrets
secrets.xml
*.jks
*.keystore
.env

# System
.DS_Store
Thumbs.db

# Other
app/src/main/new.js
